################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BaoLam/BaoLamWeb/bin/Debug/net7.0
/.vs/slnx.sqlite
/BaoLam/.vs/BaoLam/config
/BaoLam/.vs/BaoLam/DesignTimeBuild
/BaoLam/.vs/BaoLam/FileContentIndex/054560ed-d5cb-4629-bf08-09eed0e07684.vsidx
/BaoLam/.vs/BaoLam/FileContentIndex/3d8d6f13-2a19-4190-b716-6497a971cc61.vsidx
/BaoLam/.vs/BaoLam/FileContentIndex/5b49a71b-b775-4ca3-89cd-e6abcab389bc.vsidx
/BaoLam/.vs/BaoLam/FileContentIndex/6265c051-d5dd-47ed-a7c3-a01bdddd56fb.vsidx
/BaoLam/.vs/BaoLam/FileContentIndex/a756970b-3303-4f40-ac0a-73ac8cef3282.vsidx
/BaoLam/.vs/BaoLam/FileContentIndex/c5520049-1e6a-48b7-ac99-d609b3451c02.vsidx
/BaoLam/.vs/BaoLam/v17/.suo
/BaoLam/BaoLamWeb/obj/Release/net7.0/BaoLamWeb.assets.cache
/BaoLam/BaoLamWeb/obj/Release/net7.0/BaoLamWeb.csproj.AssemblyReference.cache
/BaoLam/BaoLamWeb/obj/Release/net7.0/BaoLamWeb.GeneratedMSBuildEditorConfig.editorconfig
/BaoLam/BaoLamWeb/obj/Debug/net7.0/ref
/BaoLam/BaoLamWeb/obj/Debug/net7.0/refint
/BaoLam/BaoLamWeb/obj/Debug/net7.0/scopedcss
/BaoLam/BaoLamWeb/obj/Debug/net7.0/staticwebassets
/BaoLam/BaoLamWeb/obj/BaoLamWeb.csproj.nuget.dgspec.json
/BaoLam/BaoLamWeb/obj/BaoLamWeb.csproj.nuget.g.props
/BaoLam/BaoLamWeb/obj/BaoLamWeb.csproj.nuget.g.targets
/BaoLam/BaoLamWeb/obj/Debug/net7.0/apphost.exe
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.assets.cache
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.csproj.AssemblyReference.cache
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.csproj.BuildWithSkipAnalyzers
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.csproj.CopyComplete
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.csproj.CoreCompileInputs.cache
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.csproj.FileListAbsolute.txt
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.dll
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.GeneratedMSBuildEditorConfig.editorconfig
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.genruntimeconfig.cache
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.MvcApplicationPartsAssemblyInfo.cache
/BaoLam/BaoLamWeb/obj/Debug/net7.0/BaoLamWeb.pdb
/BaoLam/BaoLamWeb/obj/Debug/net7.0/project.razor.vs.json
/BaoLam/BaoLamWeb/obj/Debug/net7.0/staticwebassets.build.json
/BaoLam/BaoLamWeb/obj/Debug/net7.0/staticwebassets.development.json
/BaoLam/BaoLamWeb/obj/Debug/net7.0/staticwebassets.pack.json
/BaoLam/BaoLamWeb/obj/project.assets.json
/BaoLam/BaoLamWeb/obj/project.nuget.cache
